
#background {
  background-size: cover;
background-image: url("demo.jpg");
  height: 100%;
  color: blue
	
  
}
 

body {
	text-align: center;
	background-image: url("data://ewhenson.files.wordpress.com/2016/01/backgrounds-dark-green-textures-2857798-1920x1080.jpg");
}

h1 {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h4 {
	font-family: 'Courgette';
}

h3 {
  font-family: 'Luminari, fantasy';
}



textarea {
  resize: none;
    border: dashed;
    text-align: center;
}
