
#background {
  background-size: cover;
background-image: url("demo.jpg");
  height: 100%;
	
  
}


body {
	text-align: center;
	background-image: url("demo.jpg");
}

h1 {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h4 {
	font-family: 'Courgette';
}

h3 {
	font-family: 'Luminari, fantasy';
}



textarea {
  resize: none;
    border: dashed;
    text-align: center;
}
